*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: rgb(55, 55, 55);
  color: white;
}

a{
  text-decoration: none;

}
li{
  list-style: none;
}
.itemListContainer{
  display: flex;
  align-content: center;
  justify-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.itemList{
  display: flex;
  justify-content: center;
  gap: 14px;
  flex-wrap: wrap;
}
.cardContainer{
  width: 20%;
  max-height: 40%;
  height: auto;
}
.card-img{
  max-height: 400px;
}
.card-btn{
  min-width: 100%;
  max-height: 24%;
  border-radius: 15px;
}
.card-btn:hover{
  width: 100%;
  max-height: 24%;
  border-radius: 15px;
}
.itemDetailContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.detailListContainer{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
}
.img-detailContainer{
  width: 100%;
}
.detail-info{
  gap: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}
.detailList-title{
  font-size: 30px ;
}
.detailList-subtitle{
  font-size: 20px;
}
.itemCount-btn{
  background-color: rgb(65, 65, 245);
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 50%;
}
.itemCount-btn:hover{
  background-color: rgb(49, 49, 206);
  border: none;
  border-radius: 20px;
  height: 40px;
  transition: 0.3s;
  
}
.btn-eliminar{
  background-color: rgb(251, 0, 0);
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 10%;
}
.btn-eliminar:hover{
  background-color: rgb(164, 2, 2);
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 10%;
  transition: 0.3s;
}
.btn-vaciar{
  background-color: rgb(251, 0, 0);
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 10%;
  margin: 20px;
}
.btn-vaciar:hover{
  background-color: rgb(188, 3, 3);
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 10%;
  margin: 20px;
  transition: 0.3s;
}
.title{
  font-size: 35px;
  color: white;
}
.cardTitle{
  color: white;
}
.itemCount{
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.item-btn{
  width: 30px;
  background-color: rgb(255, 255, 255);
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 30px;
}
.item-btn:hover{
  width: 30px;
  background-color: rgb(209, 209, 209);
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  transition: 0.3s;
}
.count{
  background-color: white;
  color: black;
  border: none;
  width: 10%;
}
.formContainer{
  margin: 30px;
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 10px;

}

.form-input{
  background-color: white;
  color: black;
}

.btn-submit{
  background-color: rgb(22, 121, 207);
  border: none;
  border-radius: 20px;
  height: 30px;
  margin-top: 10px;
}
.btn-submit:hover{
  background-color: rgb(2, 137, 255);
  border: none;
  border-radius: 20px;
  height: 30px;
  margin-top: 10px;
}