*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: rgb(55, 55, 55);
  color: white;
}
a{
  text-decoration: none;

}
li{
  list-style: none;
}
.itemListContainer{
  display: flex;
  align-content: center;
  justify-items: center;
  gap: 70px;
  margin: 20px;
}
.title{
  font-size: 35px;
  color: white;
}
.cardTitle{
  color: white;
}

